.section.py-0.align-items-center(style='position:relative')
  #secondPage-bg.background
  div(style='z-index: 10')
    div.border-gold
    .display-4.text-center.futura.text-uppercase.text-white(style='background: #222') About us
    div.border-gold
    div(style='position: absolute; top: 50%; transform: translateY(-50%)')
      .container.p-0.mt-5
        .row.m-0.p-0(style='background-color: rgba(0,0,0,0.5); border-top: 2px solid #9f912a; border-bottom: 2px solid #9f912a; ')
          .col-6.ml-auto.text-white.align-self-center
            h1.futura.text-uppercase.mt-2 Project overview
            hr.bg-light.mt-1.mb-2(style='border-color: #9f912a')
            p.text-justify
              strong Iron Front 
              | is a tactical shooter videogame set in the Eastern Front of World War 2, built by 
              strong AWAR 
              | - a group of former OFP and senior ArmA modders.
            p.text-justify
              | It was released in middle 2012 as a standalone game using the Real Virtuality 3 engine, the same one that in the same time was powering ArmA2: Operation Arrowhead.
          .col-5.ml-auto.p-0
            div.align-self-center(style='z-index: -1; height: 100%; background: url(/images/german.jpg) no-repeat center; background-size: cover; opacity: 0.85;')
      .container.p-0.mt-5
        .row.m-0.p-0(style='background-color: rgba(0,0,0,0.5); border-top: 2px solid #9f912a; border-bottom: 2px solid #9f912a; ')
          .col-5.mr-auto.p-0
            div.align-self-center(style='z-index: -1; height: 100%; background: url(/images/march.jpg) no-repeat center; background-size: cover; opacity: 0.85;')
          .col-6.mr-auto.text-white.align-self-center
            h1.futura.text-uppercase.text-right.mt-2 Our goals
            hr.bg-light.mt-1.mb-2(style='border-color: #9f912a')
            p.text-justify
              | Our development team has ported the original game assets to ArmA3 for them to be able to run on the latest RV engine by Bohemia Interactive Studios.
            p.text-justify
              | This most recent, ported version of Iron Front, called IFA3, takes advantage and merges many of the new technologies and features of ArmA3 and it's continously developed to provide a fully supported, enjoyable, bug-free version of Iron Front.
