.section.py-0.align-items-center.pb-5(style='position:relative')
  #thirdPage-bg.background
  div(style='z-index: 10')
    div.border-gold
    .display-4.text-center.futura.text-uppercase.text-white(style='background: #111') The team
    div.border-gold
    .row.mt-1
      .col-5.ml-auto.rounded.text-white
        h3.text-center.text-uppercase.futura.mt-5 Core Team
        table.table.table-sm
          tbody
            tr
              td.h3.futura-light.text-uppercase Supporter #1
              td.h3.futura Peter Griffin
            tr
              td.h3.futura-light.text-uppercase Supporter #2
              td.h3.futura Walter White
            tr
              td.h3.futura-light.text-uppercase Supporter #3
              td.h3.futura Willie Wonka?
            tr
              td.h3.futura-light.text-uppercase Supporter #4
              td.h3.futura Jar Jar Binks
      .col-5.mr-auto.rounded.text-white
        h3.text-center.text-uppercase.futura.mt-5 Contributors
        table.table.table-sm
          tbody
            tr
              td.h3.futura-light.text-uppercase Supporter #1
              td.h3.futura Peter Griffin
            tr
              td.h3.futura-light.text-uppercase Supporter #2
              td.h3.futura Walter White
            tr
              td.h3.futura-light.text-uppercase Supporter #3
              td.h3.futura Willie Wonka?
            tr
              td.h3.futura-light.text-uppercase Supporter #4
              td.h3.futura Jar Jar Binks
    .row.mt-1
      .col-5.ml-auto.rounded.text-white
        h3.text-center.text-uppercase.futura.mt-5 Supporters
        table.table.table-sm
          tbody
            tr
              td.h3.futura-light.text-uppercase Supporter #1
              td.h3.futura Peter Griffin
            tr
              td.h3.futura-light.text-uppercase Supporter #2
              td.h3.futura Walter White
            tr
              td.h3.futura-light.text-uppercase Supporter #3
              td.h3.futura Willie Wonka?
            tr
              td.h3.futura-light.text-uppercase Supporter #4
              td.h3.futura Jar Jar Binks
      .col-5.mr-auto.rounded.text-white
        h3.text-center.text-uppercase.futura.mt-5 Donators
        table.table.table-sm
          tbody
            tr
              td.h3.futura-light.text-uppercase Supporter #1
              td.h3.futura Peter Griffin
            tr
              td.h3.futura-light.text-uppercase Supporter #2
              td.h3.futura Walter White
            tr
              td.h3.futura-light.text-uppercase Supporter #3
              td.h3.futura Willie Wonka?
            tr
              td.h3.futura-light.text-uppercase Supporter #4
              td.h3.futura Jar Jar Binks
