.section.py-0.align-items-center(style='position:relative')
  #thirdPage-bg.background
  div(style='z-index: 10')
    div.border-gold
    .display-4.text-center.futura.text-uppercase.text-white(style='background: #222') The team
    div.border-gold
    h3.text-center.text-uppercase.futura.mt-5.text-white The Developers
    .row.mt-1
      .col-10.mx-auto.rounded.d-flex.text-white.justify-content-between
        table.table.table-sm
          tbody
            tr
              td.h3.futura-light.text-uppercase Community Manager
              td.h3.futura Kju
            tr
              td.h3.futura-light.text-uppercase QA Lead
              td.h3.futura Dmorok
            tr
              td.h3.futura-light.text-uppercase Config coder
              td.h3.futura El Tyranos
            tr
              td.h3.futura-light.text-uppercase Web Developer
              td.h3.futura A. Roman
            tr
              td.h3.futura-light.text-uppercase Terrain Maker
              td.h3.futura Swurvin
    h3.text-center.text-uppercase.futura.mt-5.text-white The Supporters
    .row.mt-1
      .col-5.ml-auto.rounded.d-flex.text-white.justify-content-between
        table.table.table-sm
          tbody
            tr
              td.h3.futura-light.text-uppercase Supporter #1
              td.h3.futura Peter Griffin
            tr
              td.h3.futura-light.text-uppercase Supporter #2
              td.h3.futura Walter White
            tr
              td.h3.futura-light.text-uppercase Supporter #3
              td.h3.futura Willie Wonka?
            tr
              td.h3.futura-light.text-uppercase Supporter #4
              td.h3.futura Jar Jar Binks
      .col-5.mr-auto.rounded.d-flex.text-white.justify-content-between
        table.table.table-sm
          tbody
            tr
              td.h3.futura-light.text-uppercase Supporter #1
              td.h3.futura Obi Juan Kenobi
            tr
              td.h3.futura-light.text-uppercase Supporter #2
              td.h3.futura G.R.R. Martin
            tr
              td.h3.futura-light.text-uppercase Supporter #3
              td.h3.futura Pablo Escobar
            tr
              td.h3.futura-light.text-uppercase Supporter #4
              td.h3.futura Ronaldinho
