.section.fp-auto-height.py-5.text-white.text-uppercase(style='border-top: 1px solid #333')
  div(style='height: 150px; position: relative')
    .d-flex.justify-content-center.align-items-center(style='position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%)')
      h3.futura.text-center Powered by:
      a(href="https://www.arma3.com" target='_blank')
        img.img.ml-3(src='/images/social/arma.png' height='75')
  footer.text-center.align-items-center(style='position: absolute; bottom: 41px; width: 100%; line-height: 35px; height: 40px; background-color: #111; border-top: 1px solid #333; border-bottom: 1px solid #333')
    #footer(style='z-index: 0;')
    div(style='z-index: 10; position: relative;')
      small.futura-light Copyright &copy; 2017 | 
      a(href="http://alessandroromanelli.herokuapp.com/" target='_blank')
        small#signature.futura Alessandro Romanelli
        
