nav.navbar.navbar-expand-lg.sticky-top.navbar-dark.bg-dark(style='border-bottom: 1px solid #333')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mx-auto.text-uppercase
      li.nav-item.active
        a.nav-link.sliding-u-l-r.sliding-u-r-l.py-0.mx-2(href='#')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link.sliding-u-l-r.sliding-u-r-l.py-0.mx-2(href='#') About Us
      li.nav-item
        a.nav-link.sliding-u-l-r.sliding-u-r-l.py-0.mx-2(href='#') Wiki
      li.nav-item
        a.nav-link.sliding-u-l-r.sliding-u-r-l.py-0.mx-2(href='#') Downloads
