nav.navbar.navbar-expand-lg.sticky-top.navbar-dark.bg-dark(style='border-bottom: 1px solid #333')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mx-auto.text-uppercase
      li.nav-item.active
        a.nav-link.sliding-u-l-r.sliding-u-r-l.py-0.mx-2(href='#')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link.sliding-u-l-r.sliding-u-r-l.py-0.mx-2(href='#') About Us
      li.nav-item
        a.nav-link.sliding-u-l-r.sliding-u-r-l.py-0.mx-2(href='#') Wiki
      li.nav-item
        a.nav-link.sliding-u-l-r.sliding-u-r-l.py-0.mx-2(href='#') Forum
      li.nav-item
        a.nav-link.sliding-u-l-r.sliding-u-r-l.py-0.mx-2(href='#') Join the team
      li.nav-item
        a.nav-link.sliding-u-l-r.sliding-u-r-l.py-0.mx-2(href='#') Downloads
    div.social-links
      ul.mt-2.align-self-center
        li.pr-2
          a(href="https://twitter.com/ww2_in_a3" target="_blank")
            img.img.rounded(src="/images/social/twitter.svg", alt="alt" height='24')
        li.px-2
          a(href="https://discord.gg/0vQjglomrhMXqTF1" target="_blank")
            img.img.rounded(src="/images/social/discord.svg", alt="alt" height='24')
        li.px-2
          a(href="https://steamcommunity.com/sharedfiles/filedetails/?id=660460283" target="_blank")
            img.img.rounded(src="/images/social/steam.svg", alt="alt", height='24')
