extends layout

block content
  #fullpage(style='background-color: #151617')
    .section.active
      #background
      div
        .text-center(style='z-index: 1')
          img.img.mx-auto(src="/images/ifalogo.png" height='130' alt="alt")
          small.d-block
            strong.text-uppercase.text-white More terrains. More weapons. More vehicles. More fun.
      
      div(style='position:absolute; bottom: 0; transform: translateY(-25%); width: 100%; z-index: 1;')
        div.border-gold
        .row.justify-content-center.m-0.py-3(style='background: rgba(0,0,0,0.75)')
          .col-lg-5.ml-auto.align-self-center
            .text-white
              h5 Fight throughout Europe, Africa and the Pacific.
              p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .col-lg-4.ml-auto.mr-auto.col-md-6.align-self-center.px-0
            .trailer-box
              #trailerCarousel.carousel.slide(data-ride='carousel')
                .carousel-inner
                  .carousel-item.active
                    a.trailer.d-flex.trailer-box(href="https://www.youtube.com/watch?v=h_9C0KUn9NY" target='_blank' style='text-decoration: none; color: white; background: url(../images/blitzkrieg.jpg); background-size: cover;')
                      video(width='380' loop style='position: absolute; z-index: 0;')
                        source(src='/video/blitzkrieg_preview.webm')
                      div.mx-auto.align-self-end(style='z-index: 10')
                        .mx-auto.button-play
                        div.py-0.px-2.mb-1.mt-4(style='background: rgba(0,0,0,0.75); border-radius: 10px; border: 1px solid #9f912a')
                          small.align-self-center
                            strong.text-uppercase Blitzkrieg Update
                  .carousel-item
                    a.trailer.d-flex.trailer-box(href="https://www.youtube.com/watch?v=h_9C0KUn9NY" target='_blank' style='text-decoration: none; color: white; background: url(../images/dunkirk.jpg); background-size: cover;')
                      video(width='380' loop style='position: absolute; z-index: 0;')
                        source(src='/video/dunkirk_preview.webm')
                      div.mx-auto.align-self-end(style='z-index: 10')
                        .mx-auto.button-play
                        div.py-0.px-2.mb-1.mt-4(style='background: rgba(0,0,0,0.75); border-radius: 10px; border: 1px solid #9f912a')
                          small.align-self-center
                            strong.text-uppercase Dunkirk Teaser
                  .carousel-item
                    a.trailer.d-flex.trailer-box(href="https://www.youtube.com/watch?v=M4Oc86rAK2Q" target='_blank' style='text-decoration: none; color: white; background: url(../images/airborne.jpg); background-size: cover;')
                      video(width='380' loop style='position: absolute; z-index: 0;')
                        source(src='/video/airborne_preview.webm')
                      div.mx-auto.align-self-end(style='z-index: 10')
                        .mx-auto.button-play
                        div.py-0.px-2.mb-1.mt-4(style='background: rgba(0,0,0,0.75); border-radius: 10px; border: 1px solid #9f912a')
                          small.align-self-center
                            strong.text-uppercase Airborne Update
                a.carousel-control-prev(href='#trailerCarousel', role='button', data-slide='prev')
                  span.carousel-control-prev-icon(aria-hidden='true')
                  span.sr-only Previous
                a.carousel-control-next(href='#trailerCarousel', role='button', data-slide='next')
                  span.carousel-control-next-icon(aria-hidden='true')
                  span.sr-only Next
        div.border-gold
    .section(style='background-color: #222')
      h1.text-white Something something..
    .section  
      h1 Not sure what will go here
