extends layout

block content
  #fullpage(style='background-color: #151617')
    .section.active.p-0
      #firstPage-bg.background
      div.d-flex.align-items-center(style='height: 60vh; z-index: 1')
        .text-center.mx-auto
          img.img.mx-auto.shadow-filter(src="/images/ifalogo.png" width='500' alt="alt" style='-webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,1))')
          h3.d-block.text-uppercase.futura.subtitle
            span More terrains. 
            span More weapons. 
            br
            span More vehicles. 
            span More fun.
      div.align-self-end(style='position: absolute; bottom: 10%;')
        div(style='z-index: 1;')
          div.border-gold
          .row.align-items-center.justify-content-center.m-0.py-3(style='background: rgba(0,0,0,0.75)')
            .col-4.ml-auto.mr-auto
              a.trailer.d-flex.trailer-box(href="https://www.youtube.com/watch?v=h_9C0KUn9NY" target='_blank')
                .overlay.box
                img.img-fluid(src="../images/blitzkrieg.jpg", alt="alt" style='width: 100%; height: 100%; box-shadow: inset 0 -10px 0 0 red')
                video(loop style='width: 100%; height: 100%; z-index: 0;')
                  source(src='/video/blitzkrieg_preview.webm')
                div.trailer-label.mx-auto.text-white.text-left(style='z-index: 10; width: 100%')
                  h5.ml-3.futura.align-self-center.text-uppercase Blitzkrieg Update
            .col-4.ml-auto.mr-auto
              a.trailer.d-flex.trailer-box(href="https://www.youtube.com/watch?v=h_9C0KUn9NY" target='_blank')
                .overlay.box
                img.img-fluid(src="../images/dunkirk.jpg", alt="alt" style='width: 100%; height: 100%;')
                video(loop style='width: 100%; height: 100%; z-index: 0;')
                  source(src='/video/dunkirk_preview.webm')
                div.trailer-label.mx-auto.text-white.text-left(style='z-index: 10; width: 100%')
                  h5.ml-3.futura.align-self-center.text-uppercase Dunkirk Teaser
            .col-4.ml-auto.mr-auto
              a.trailer.d-flex.trailer-box(href="https://www.youtube.com/watch?v=M4Oc86rAK2Q" target='_blank')
                .overlay.box
                img.img-fluid(src="../images/airborne.png", alt="alt" style='width: 100%; height: 100%;')
                video(loop style='width: 100%; height: 100%; z-index: 0;')
                  source(src='/video/airborne_preview.webm')
                div.trailer-label.mx-auto.text-white.text-left(style='z-index: 10; width: 100%')
                  h5.ml-3.futura.text-uppercase Airborne Update
          div.border-gold
    .section(style='background-color: #222')
      #secondPage-bg.background
      div.border-gold
      .display-4.text-center.futura.text-uppercase.text-white(style='background: rgba(0,0,0,0.75)') The factions
      div.border-gold
      
    .section  
      #thirdPage-bg.background
      h1 Not sure what will go here
