body {
  position: relative;
  background: url(../images/background.jpg) no-repeat center;
  background-size: cover;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0.75) 0%, transparent 25%, transparent, 75%, rgba(0,0,0,0.75) 100%);
  z-index: -1;
}

nav.navbar {
  border-bottom: 1px solid #333;
  transition: 0.5s ease-in-out
}

nav.navbar:hover {
  border-color: #444
}

img.shadow-filter {
  -webkit-filter: drop-shadow(0px 0px 7px rgba(255,0,0,1));
  filter: url(shadow.svg#drop-shadow);
}

.subtitle > span {
  color: white;
  z-index: 2;
  text-shadow: 1px 1px 0px #333,
               1px 0px 0px #333,
               1px -1px 0px #333,
               0px -1px 0px #333,
               0px 1px 0px #333,
               1px 1px 0px #333,
               0px 1px 0px #333,
               -1px 1px 0px #333,
               0px 0px 5px rgba(0,0,0,0.75);
}

.social-links {
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.social-links a {
  display: inline-block;
}

.social-links img {
  opacity: 1;
  z-index: 3;
}

.box {
  opacity: 0.75;
  position: relative;
  display: inline-block;
  transition: 0.5s;
  border: 1px solid rgba(255,255,255,0);
  -webkit-transition: 0.5s;
}

.box:hover {
  opacity: 1;
}

.box::before, .box::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.box::before {
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF;
  -webkit-transform-origin: 0 100%;
}

.box::after {
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  -webkit-transform-origin: 100% 0%;
}

.box:hover::before, .box:hover::after {
  -webkit-transform: scale(1);
}

.social-links a:hover img {
  cursor: pointer;
  z-index: 10;
}

a.trailer > div > .button-play {
  color: inherit;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

a.trailer:hover > div > .button-play {
  color: inherit;
  transform: scale(1.05);
  background-color: rgba(0,0,0,0.75);
  border-color: rgba(255,255,255,0.75)
}

a.trailer-box:hover::after {
  opacity: 0.5;
}

.sliding-u-l-r {
  display: inline-block;
  position: relative;
}
.sliding-u-l-r:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .75s ease-out, background-color .75s ease-out;
}
.sliding-u-l-r:hover:after {
  width: 100%;
  background: #9f912a;
}

.sliding-u-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sliding-u-r-l:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    right: 0;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .75s ease-out, background-color .75s ease-out;
}

.sliding-u-r-l:hover:before {
    width: 100%;
    background: #9f912a;
}

.section-subtitle {
  font-family: 'KlinicSlab'
}

.section-header {
  font-family: "Argent";
}

.bg-dark {
  background-color: #151617 !important;
}

body > .container {
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.5),
              0 0 20px 20px rgba(0,0,0,0.25);
}

.background {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
  -webkit-filter: blur(2px);
  background-size: cover;
}

.background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}

#firstPage-bg::before {
  background: url(../images/action.jpg) no-repeat 50% 50% fixed;
}

#firstPage-bg::after {
  background: linear-gradient(180deg, #222 0%, transparent 10%, transparent 50%, #222 80%);
}

#secondPage-bg::before {
  background: url(../images/ruins.jpg) no-repeat 50% 50%;
  background-size: cover;
}

#secondPage-bg::after {
  background: linear-gradient(180deg, #222 5%, transparent 10%, transparent 85%, #222 95%);
  z-index: -1;
}

.right-shadow {
  background: linear-gradient(270deg, #111 0%, transparent 20%)
}

.left-shadow {
  background: linear-gradient(90deg, #111 0%, transparent 20%)
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, black 0%, transparent 75%);
  z-index: 5;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  background-size: 100% 200%;
}

.overlay:hover {
  background-position: 400px;
}

.trailer-box {
  position: relative;
  width: 100%;
  border: 1px solid rgba(255,255,255,0.1);
  color: #ddd;
}

.trailer-box::after {
  width: 100%;
  height: 100%;
  background-color: black;
}

.trailer {
  position: relative;
}

.trailer > div {
  position: absolute;
}

.trailer > div.trailer-label {
  position: absolute;
  bottom: 0;
  text-shadow: 1px 1px 0 #333,
               1px 0px 0 #333,
               1px -1px 0 #333,
               0px 1px 0 #333,
               0px -1px 0 #333,
               -1px 1px 0 #333,
               -1px 0px 0 #333,
               -1px -1px 0 #333;
  transition: 0.25s ease-in-out;
}

.trailer:hover > div.trailer-label {
  transform: translateY(-10px);
}

a.trailer:link,
a.trailer:visited
a.trailer:hover {
  color: white;
}


.button-play {
  position: relative;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: rgba(0,0,0,0.33);
  border: 3px solid rgba(0,0,0,0.55);
}

.button-play::after {
  position: absolute;
  content: '\25B6';
  line-height: 25px;
  width: 25px;
  height: 30px;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.border-gold {
  border-bottom: 3px solid #9f912a;
}

nav {
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: 'Futura';
  src: url(../fonts/futura/FuturaPTMedium.otf);
}
@font-face {
  font-family: 'Futura Light';
  src: url(../fonts/futura/FuturaPTLight.otf);
}
@font-face {
  font-family: 'Argent';
  src: url(../fonts/ArgentCF-Bold.woff2);
}
@font-face {
  font-family: 'KlinicSlab';
  src: url(../fonts/KlinicSlab-Bold.woff2);
}

.futura {
  font-family: 'Futura';
}

.futura-light {
  font-family: 'Futura Light';
}
